<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <p>@ViewBag.Greeting @ViewBag.UserName, nasılsın?</p> 
    <p>Umarım iyisindir!</p>
    <p>
        <a href="/course/apply">Başvuru Yap!</a>
    </p>
</body>
</html>